<h1>Word#score</h1>



<h3>Your try :</h3>
<p><%= @word %></p>

<h3>Which means in Moliere's language :</h3>
<p><%= @result %></p>

<h3>Your try's characters occurence :</h3>
<p><%= @word_hash %></p>

<h3>Your gri's characters occurence :</h3>
<p><%= @grid_hash %></p>
